@model ProjectRainforest.Models.ProductInfo

@{
    ViewData["Title"] = "Add New Product";
}

<h1>AddAProduct</h1>

<h4>ProductInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddAProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Product Name: </label>
                <input class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label>Vendor Id:</label>
                <input class="form-control" name="vendorId" />
            </div>
            <div class="form-group">
                <label asp-for="ProductDescription" class="control-label"></label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductPrice" class="control-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductImg" class="control-label"></label>
                <input asp-for="ProductImg" class="form-control" />
                <span asp-validation-for="ProductImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductRating" class="control-label"></label>
                <input asp-for="ProductRating" class="form-control" />
                <span asp-validation-for="ProductRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateAdded" class="control-label"></label>
                <input asp-for="DateAdded" class="form-control" />
                <span asp-validation-for="DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingCount" class="control-label"></label>
                <input asp-for="RatingCount" class="form-control" />
                <span asp-validation-for="RatingCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
