@{
    Layout = "_Layout";
}

<h1>Add Products from The Website</h1>
<form asp-controller="Product" asp-action="AddProductsFromAPI" method="post">
    <div class="form-group">
        <input class="form-control" type="text"  placeholder="please provide API URL" name="url">
    </div>
    <input type="submit" class="btn btn-primary" value="Get Products"> 
</form>


